@define-color primary_gray #5d5d5d;

* {
    font-family: "3270 Nerd Font";
    font-size: 14px;
}

#workspaces button {
    color: @primary_gray;
    border: none;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border-color: transparent;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.urgent {
    color: #ff5555;
}

window#waybar {
    background-color: transparent;
}

#window {
    padding: 1px 10px;
    margin: 4px 6px;
    background-color: @primary_gray;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 20px;
    border: 2px solid #ff5555;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#pulseaudio,
#network,
#custom-weather,
#backlight,
#battery,
#clock,
#tray {
    color: #ffffff;
    padding: 1px 10px;
    margin: 4px 6px;
    border-radius: 12px;
    border: 2px solid #333;
    border-color: #ff5555;
    background-color: @primary_gray;
}

#battery.charging, #battery.plugged {
    background-color: #808080;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ffffff;
}
